Repository SwitchbladeBot/switchblade, pull requests merged in 2018-05, with the labels that each got.

#3 Update issue templates
  .github/ISSUE_TEMPLATE/Bug_report.md
Labels: Enhancement

#7 Re-making the README document
  README.md
Labels: Enhancement

#8 Fixed Issue #1
  src/commands/misc/dog.js
Labels: Enhancement

#11 Rewrite of canRun function
  src/structures/Command.js
Labels: Code quality, Enhancement, Fix

#13 Cooldown system
  src/commands/developer/eval.js
  src/structures/Command.js
Labels: Enhancement, Feature

#15 General code improvement
  index.js
  package-lock.json
  package.json
  src/Switchblade.js
  src/commands/memes/hmmm.js
  src/commands/memes/smart.js
  src/commands/memes/thinking.js
  src/commands/misc/adorable.js
  src/commands/misc/avatar.js
  src/commands/misc/dog.js
  src/commands/misc/invite.js
  src/index.js
  src/structures/Command.js
  src/structures/SwitchbladeEmbed.js
  src/utils/reddit.js
Labels: Code quality, Enhancement, Refactor

#17 Add neko command
  src/commands/anime/neko.js
Labels: Feature

#19 Add PR template
  .github/PULL_REQUEST_TEMPLATE/New_command.md
Labels: Repository

#25 New Crowdin translations
  src/locales/es_DO.json
  src/locales/es_ES.json
  src/locales/hu_HU.json
  src/locales/ja_JP.json
  src/locales/pt_PT.json
Labels: Translation

#24 Added the triggered command
  package-lock.json
  src/commands/image-manipulation/triggered.js
Labels: Feature

#29 Update License
  LICENSE
Labels: Fix, High priority

#30 Spotify command + APIWrapper Structure + API Loader
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/spotify.js
  src/assets/colors.json
  src/commands/misc/spotify.js
  src/index.js
  src/structures/APIWrapper.js
Labels: Enhancement, Feature, High priority

#33 Remove logging from s!spotify
  src/commands/misc/spotify.js
Labels: Fix

#32 README.md typo fix
  README.md
Labels: Fix, Repository

#39 Cleans eval command code
  src/commands/developer/eval.js
Labels: Code quality, Enhancement

#36 API Wrapper Improvement
  package-lock.json
  src/Switchblade.js
  src/apis/Spotify.js
  src/commands/misc/spotify.js
  src/index.js
  src/structures/APIWrapper.js
  src/structures/Command.js
  src/structures/index.js
  src/utils/Reddit.js
Labels: Code quality, Enhancement

#41 Fixes s!triggered not working after API changes
  src/commands/image-manipulation/triggered.js
Labels: Fix, High priority

#38 Constants variables
  src/Switchblade.js
  src/assets/colors.json
  src/commands/image-manipulation/triggered.js
  src/commands/misc/spotify.js
  src/index.js
  src/utils/Constants.js
Labels: Code quality, Enhancement

#42 Addinyg owo
  src/commands/memes/owo.js
Labels: New Command

#46 Copypasta Command
  src/commands/memes/copypasta.js
Labels: New Command

#47 Fixing the error where owoify didn't send out a sentence that was longer than 200 characters
  package-lock.json
  package.json
  src/commands/memes/owo.js
Labels: Fix, High priority

#37 Database implementation
  package-lock.json
  package.json
  src/Switchblade.js
  src/database/DBWrapper.js
  src/database/Repository.js
  src/database/index.js
  src/database/mongo/MongoDB.js
  src/database/mongo/MongoRepository.js
  src/database/mongo/Schemas.js
  src/listeners/MainListener.js
Labels: Feature, High priority

#48 Command Listener Improvement
  src/listeners/MainListener.js
Labels: Code quality, Enhancement

#49 Mention prefix fix
  src/listeners/MainListener.js
Labels: Fix

#53 Update node version
  package.json
Labels: Code quality

#51 New not so fun commands
  package-lock.json
  package.json
  src/commands/misc/8ball.js
  src/commands/misc/fliptext.js
  src/commands/utility/math.js
  src/utils/Constants.js
Labels: New Command
