Repository SwitchbladeBot/switchblade, pull requests merged in 2018-12, with the labels that each got.

#509 Reddit Rework!
  src/Switchblade.js
  src/commands/memes/aww.js
  src/commands/memes/copypasta.js
  src/commands/memes/hmmm.js
  src/commands/memes/oddlysatisfying.js
  src/commands/memes/softwaregore.js
  src/commands/memes/thinking.js
  src/commands/misc/tesla.js
  src/commands/reddit/aww.js
  src/commands/reddit/copypasta.js
  src/commands/reddit/hmmm.js
  src/commands/reddit/oddlysatisfying.js
  src/commands/reddit/softwaregore.js
  src/commands/reddit/tesla.js
  src/commands/reddit/thinking.js
  src/structures/command/RandomRedditPostCommand.js
Labels: Command, Command System, Enhancement, Ready for Review

#514 Canvas SVG improvement
  package-lock.json
  package.json
  src/assets/svg/coins.svg
  src/assets/svg/daily_clock.svg
  src/assets/svg/medal.svg
  src/assets/svg/reputation.svg
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
Labels: Code quality, Enhancement

#512 Currency Command
  src/commands/utility/currency.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
Labels: Command, Enhancement, Ready for Review

#513 Add the DEVELOPER_USERS variable for developers without roles
  src/utils/PermissionUtils.js
Labels: Enhancement, Ready for Review

#498 Weather command and some fixes
  .env.example
  src/Switchblade.js
  src/apis/DarkSky.js
  src/apis/GoogleMaps.js
  src/assets/fonts/Montserrat-Thin.ttf
  src/assets/fonts/Montserrat-ThinItalic.ttf
  src/assets/png/backgrounds/default_gray.png
  src/assets/svg/arrow.svg
  src/assets/svg/weather/clear-day.svg
  src/assets/svg/weather/clear-night.svg
  src/assets/svg/weather/cloudy.svg
  src/assets/svg/weather/fog.svg
  src/assets/svg/weather/partly-cloudy-day.svg
  src/assets/svg/weather/partly-cloudy-night.svg
  src/assets/svg/weather/rain.svg
  src/assets/svg/weather/snow.svg
  src/assets/svg/weather/thunderstorm.svg
  src/assets/svg/weather/wind.svg
  src/assets/svg/wind.svg
  src/commands/utility/weather.js
  src/locales/en-US/commands.json
  src/structures/APIWrapper.js
  src/structures/command/CommandContext.js
  src/structures/command/parameters/CommandParameters.js
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
Labels: Command, Fix, Ready for Review

#473 Adds the Steam Ladder command
  .env.example
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/Steam.js
  src/apis/SteamLadder.js
  src/commands/games/steamladder.js
  src/index.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
  src/utils/EmojiUtils.js
Labels: Command, Ready for Review

#529 Adds the JoinLock command
  src/Switchblade.js
  src/commands/moderation/joinlock.js
  src/database/mongo/Schemas.js
  src/listeners/AutoModerator.js
  src/locales/en-US/commands.json
  src/locales/en-US/moderation.json
  src/structures/command/index.js
  src/structures/command/parameters/types/BooleanParameter.js
Labels: Command, Ready for Review

#534 Fuck Doges
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
Labels: Fix, P2

#541 Pusheen command
  .env.example
  src/apis/Tumblr.js
  src/commands/misc/pusheen.js
  src/locales/en-US/commands.json
Labels: Command

#531 Comment the field descriptions on the bug report and feature request templates
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: Enhancement, Repository

#546 Users in botinfo and onlyManagers requirement
  src/commands/bot/botinfo.js
  src/commands/developers/reloadlocales.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/CommandRequirements.js
  src/utils/PermissionUtils.js
Labels: Command, Enhancement
