Repository SwitchbladeBot/switchblade, pull requests merged in 2018-11, with the labels that each got.

#435 Add /vote to the DBL voting URL
  src/commands/bot/dbl.js
Labels: Command, Enhancement

#434 Moderation Commands (pt.1)
  src/commands/moderation/ban.js
  src/commands/moderation/kick.js
  src/commands/moderation/softban.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/CommandRequirements.js
Labels: Command, Feature, Ready for Review

#436 Changing the catch from s!samp
  src/commands/games/samp.js
Labels: Fix, Ready for Review

#438 Fixes music loop mode [MASTER]
  src/music/structures/GuildPlayer.js
Labels: Fix, Music

#437 Fixes music loop mode
  src/music/structures/GuildPlayer.js
Labels: Fix, Music

#440 ReloadLocales command
  src/commands/developers/reloadlocales.js
  src/locales/en-US/commands.json
Labels: Command

#439 Database improvement
  src/listeners/MainListener.js
Labels: Enhancement

#444 Tesla pics
  src/commands/misc/tesla.js
  src/locales/en-US/commands.json
Labels: Command

#353 adding in lmgtfy command
  src/commands/misc/lmgtfy.js
  src/locales/en-US/commands.json
Labels: Command

#395 Add MCQuery command
  src/commands/games/mcquery.js
  src/locales/en-US/commands.json
Labels: Command, Games

#452 Nowplaying background improvement
  src/utils/CanvasTemplates.js
Labels: Enhancement

#464 Removing special characters on s!strawpoll and s!poll
  src/commands/misc/poll.js
  src/commands/misc/strawpoll.js
Labels: Fix, P2, Ready for Review

#468 Remove "successfully" from the config strings
  src/locales/en-US/commands.json
Labels: Enhancement, Ready for Review, Translation

#482 Better and more colorful boot verbose
  index.js
  src/Switchblade.js
  src/commands/misc/spotify.js
  src/commands/music/lyrics.js
  src/listeners/MainListener.js
  src/structures/APIWrapper.js
  src/structures/command/CommandRequirements.js
Labels: Enhancement, Ready for Review

#500 Adds Patreon link to Botinfo command
  src/commands/bot/botinfo.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Ready for Review

#493 Better and more colorful boot verbose
  bigtitle.txt
  index.js
  src/Switchblade.js
  src/commands/misc/spotify.js
  src/commands/music/lyrics.js
  src/listeners/MainListener.js
  src/structures/APIWrapper.js
  src/structures/command/CommandRequirements.js
Labels: Enhancement, Ready for Review

#505 Update packages to remove vulnerability
  package-lock.json
  package.json
Labels: Fix, P0

#507 Add the JetBrains badge to the README.md
  README.md
Labels: Repository

#510 Add the GoogleMaps API
  .env.example
  src/apis/GoogleMaps.js
Labels: Enhancement
