Repository SwitchbladeBot/switchblade, pull requests merged in 2018-06, with the labels that each got.

#50 Music System
  index.js
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/Soundcloud.js
  src/apis/Twitch.js
  src/apis/Youtube.js
  src/commands/music/nowplaying.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/music/volume.js
  src/listeners/MainListener.js
  src/music/MusicUtils.js
  src/music/SwitchbladePlayerManager.js
  src/music/index.js
  src/music/sources/SoundcloudSong.js
  src/music/sources/TwitchSong.js
  src/music/sources/YoutubeSong.js
  src/music/sources/index.js
  src/music/structures/GuildPlayer.js
  src/music/structures/Playlist.js
  src/music/structures/Song.js
  src/music/structures/index.js
  src/structures/SwitchbladeEmbed.js
  src/utils/Constants.js
Labels: Feature, High priority, New Command(s)

#60 Music System fixes
  package-lock.json
  src/apis/Youtube.js
  src/commands/music/nowplaying.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/music/MusicUtils.js
  src/music/SwitchbladePlayerManager.js
  src/music/sources/index.js
  src/music/sources/soundcloud/SoundcloudSong.js
  src/music/sources/twitch/TwitchSong.js
  src/music/sources/youtube/YoutubePlaylist.js
  src/music/sources/youtube/YoutubeSong.js
  src/music/structures/Playlist.js
Labels: Enhancement, Fix, High priority

#61 play.js grammatical error fix
  src/commands/music/play.js
Labels: Fix

#65 Economy commands n' polls. Why not, I mean /shrug
  package-lock.json
  package.json
  src/commands/economy/daily.js
  src/commands/economy/money.js
  src/commands/misc/poll.js
  src/database/mongo/Schemas.js
Labels: Command, Feature

#44 Adds a kiss command
  src/commands/gifs/kiss.js
Labels: Command

#91 fix this shit
  package-lock.json
  package.json
Labels: Fix, High priority

#27 Translation system + help command
  README.md
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/Crowdin.js
  src/commands/anime/neko.js
  src/commands/configuration/setlanguage.js
  src/commands/economy/daily.js
  src/commands/economy/money.js
  src/commands/gifs/kiss.js
  src/commands/memes/owo.js
  src/commands/misc/8ball.js
  src/commands/misc/avatar.js
  src/commands/misc/dog.js
  src/commands/misc/fliptext.js
  src/commands/misc/help.js
  src/commands/misc/invite.js
  src/commands/misc/npm.js
  src/commands/misc/poll.js
  src/commands/misc/spotify.js
  src/commands/music/nowplaying.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/music/volume.js
  src/database/mongo/Schemas.js
  src/listeners/MainListener.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/locales/en-US/errors.json
  src/locales/en-US/music.json
  src/locales/en-US/permissions.json
  src/structures/Command.js
Labels: Feature, Translation

#102 Fix volume set
  src/commands/music/volume.js
Labels: Fix, High priority

#101 Add Locales folder on gitignore
  .gitignore
Labels: Enhancement

#103 E621 Command
  package-lock.json
  package.json
  src/commands/furry/e621.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Refactor

#113 XKCD commands + #115 fix
  package-lock.json
  src/commands/misc/xkcd.js
  src/commands/misc/xkcd37.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
Labels: Command

#120 Fixing the negative money glitch
  src/commands/economy/pay.js
Labels: Fix, High priority

#116 s!fliptext uses <question> instead of <text to be flipped>
  src/commands/misc/fliptext.js
  src/commands/misc/poll.js
Labels: Fix

#95 Command System Prototype
  package-lock.json
  src/Switchblade.js
  src/commands/anime/neko.js
  src/commands/configuration/setlanguage.js
  src/commands/developer/eval.js
  src/commands/economy/daily.js
  src/commands/economy/money.js
  src/commands/economy/pay.js
  src/commands/furry/e621.js
  src/commands/gifs/kiss.js
  src/commands/image-manipulation/triggered.js
  src/commands/memes/copypasta.js
  src/commands/memes/hmmm.js
  src/commands/memes/owo.js
  src/commands/memes/smart.js
  src/commands/memes/softwaregore.js
  src/commands/memes/thinking.js
  src/commands/misc/8ball.js
  src/commands/misc/adorable.js
  src/commands/misc/avatar.js
  src/commands/misc/dog.js
  src/commands/misc/fliptext.js
  src/commands/misc/help.js
  src/commands/misc/invite.js
  src/commands/misc/npm.js
  src/commands/misc/ping.js
  src/commands/misc/poll.js
  src/commands/misc/spotify.js
  src/commands/misc/xkcd.js
  src/commands/misc/xkcd37.js
  src/commands/music/nowplaying.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/music/volume.js
  src/commands/utility/math.js
  src/index.js
  src/listeners/MainListener.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/Command.js
  src/structures/command/Command.js
  src/structures/command/CommandContext.js
  src/structures/command/CommandError.js
  src/structures/command/CommandRequirements.js
  src/structures/command/index.js
  src/structures/command/parameters/CommandParameters.js
  src/structures/command/parameters/types/NumberParameter.js
  src/structures/command/parameters/types/Parameter.js
  src/structures/command/parameters/types/StringParameter.js
  src/structures/command/parameters/types/UserParameter.js
  src/structures/index.js
  src/utils/Constants.js
Labels: Code quality, Enhancement, High priority, Ready for Review, Refactor

#123 Add a missing ':' in :ping_pong:
  src/commands/misc/ping.js
Labels: Fix, High priority

#117 "Is it up?" command
  src/commands/misc/isitup.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#145 Adding isitup.js to master, cuz Travis fucked us in the ass
  src/commands/misc/isitup.js
Labels: Bug/Problem, High priority

#151 E621 Fix again
  src/commands/furry/e621.js
Labels: Fix, High priority

#149 Using regex for isitup because why not
  src/commands/misc/isitup.js
  src/locales/en-US/commands.json
Labels: Fix, High priority

#139 Add s!stoptyping command
  src/commands/misc/stoptyping.js
  src/locales/en-US/commands.json
Labels: Command

#158 stoptyping fix
  src/commands/misc/stoptyping.js
Labels: Enhancement, Fix

#156 Adds the Straw Poll command
  src/commands/misc/strawpoll.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#166 Pay fix
  src/commands/economy/pay.js
  src/locales/en-US/commands.json
Labels: Bug/Problem, Fix, High priority

#171 Adds a SAMP server query command
  package-lock.json
  package.json
  src/commands/games/samp.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#180 Deezer command fix
  src/commands/misc/deezer.js
  src/locales/en-US/commands.json
Labels: Fix, Ready for Review, Translation

#178 Fixes SAMP command
  src/commands/games/samp.js
Labels: Fix, Ready for Review

#177 Fixes SoundCloud song loading
  package-lock.json
  src/music/sources/soundcloud/SoundcloudSong.js
Labels: Fix, Music, Ready for Review

#179 Removes MongoDB and Lavalink requirement
  src/Switchblade.js
  src/commands/configuration/setlanguage.js
  src/commands/economy/daily.js
  src/commands/economy/money.js
  src/commands/economy/pay.js
  src/commands/music/nowplaying.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/music/volume.js
  src/listeners/MainListener.js
  src/locales/en-US/errors.json
  src/structures/command/CommandRequirements.js
Labels: Code quality, Music, Ready for Review
