Repository SwitchbladeBot/switchblade, pull requests merged in 2018-09, with the labels that each got.

#318 Personal Text command
  src/commands/social/personaltext.js
  src/database/mongo/Schemas.js
  src/locales/en-US/commands.json
Labels: Command

#319 Update Packages
  package-lock.json
  package.json
Labels: Enhancement, P0 - fix this NOW

#325 Fixes music system
  package-lock.json
  src/music/SwitchbladePlayerManager.js
Labels: Fix, P0 - fix this NOW

#326 merge fixes
  README.md
  package-lock.json
  src/music/SwitchbladePlayerManager.js
Labels: P0 - fix this NOW

#328 Fixes translation issue
  src/commands/music/queue.js
Labels: Fix, P0 - fix this NOW

#330 Fix translation glitch
  src/commands/music/queue.js
Labels: P0 - fix this NOW

#331 Volume Edit
  src/commands/music/volume.js
Labels: Command, Enhancement

#335 Guildinfo command update
  src/commands/misc/guildinfo.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/index.js
  src/structures/command/parameters/types/GuildParameter.js
  src/utils/Constants.js
Labels: Command, Enhancement

#336 FiveM command
  src/commands/games/fivem.js
  src/locales/en-US/commands.json
Labels: Command, Feature, Games

#334 Add guildicon command
  package-lock.json
  src/commands/misc/guildicon.js
  src/locales/en-US/commands.json
Labels: Command

#342 Add the website to s!botinfo
  src/commands/misc/botinfo.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Enhancement
