Repository SwitchbladeBot/switchblade, pull requests merged in 2018-10, with the labels that each got.

#344 Add more Badges
  README.md
Labels: Repository

#345 Add emoji (emoji enlarger) command
  src/commands/misc/emoji.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/index.js
  src/structures/command/parameters/types/EmojiParameter.js
Labels: Ready for Review

#358 Test PR, ignore it.
  src/utils/CanvasUtils.js
Labels: Fix, P0 - fix this NOW, T.E.S.T

#360 test pr v2
  package-lock.json
  package.json
Labels: T.E.S.T

#361 Fix MyAnimeList's studio/studios part
  src/commands/anime/myanimelist.js
Labels: Command, Fix

#370 Fix numberfacts command
  src/commands/misc/numberfacts.js
  src/locales/en-US/commands.json
Labels: Command, Fix, P0 - fix this NOW

#373 Tips Fedora command
  src/commands/memes/tipsfedora.js
  src/locales/en-US/commands.json
Labels: Command

#374 HIGH PRIORITY FIX OMG
  src/database/mongo/MongoRepository.js
Labels: Fix

#378 Nowplaying canvas command
  src/apis/Youtube.js
  src/commands/developers/blacklist.js
  src/commands/developers/unblacklist.js
  src/commands/music/nowplaying.js
  src/music/SwitchbladePlayerManager.js
  src/music/sources/http/HTTPSong.js
  src/music/sources/soundcloud/SoundcloudSong.js
  src/music/sources/twitch/TwitchSong.js
  src/music/sources/youtube/YoutubeSong.js
  src/music/structures/Song.js
  src/structures/command/index.js
  src/structures/command/parameters/CommandParameters.js
  src/structures/command/parameters/types/BooleanFlagParameter.js
  src/utils/BlacklistUtils.js
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
Labels: Do not merge, Enhancement, Feature, Music, WIP

#382 Profile redesign
  package-lock.json
  src/assets/fonts/Montserrat-Light.ttf
  src/assets/fonts/Montserrat-LightItalic.ttf
  src/assets/png/backgrounds/default.png
  src/assets/png/backgrounds/testing.png
  src/assets/svg/reputation.svg
  src/commands/social/personaltext.js
  src/commands/social/profile.js
  src/index.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
  src/utils/PermissionUtils.js
Labels: Do not merge, Enhancement, WIP

#384 Add the missing translation string
  src/commands/configuration/config.js
  src/locales/en-US/commands.json
Labels: Command, Enhancement

#385 Add mocha tests!
  package-lock.json
  package.json
  src/commands/developers/blacklist.js
  src/commands/memes/tipsfedora.js
  src/commands/music/skip.js
  src/index.js
  src/locales/en-US/commands.json
  src/test/codestyle.js
  src/test/commands.js
  src/utils/MiscUtils.js
Labels: Code quality, Command System, Enhancement, Ready for Review

#391 Some fixes on music
  src/commands/music/stop.js
  src/music/structures/GuildPlayer.js
  src/music/structures/Song.js
Labels: Enhancement, Music, Ready for Review

#400 Add height to both the images in readme
  README.md
Labels: Enhancement, Repository

#403 Package update
  package-lock.json
  package.json
Labels: Enhancement, P0

#404 Videochat temporary command
  src/commands/misc/videochat.js
  src/locales/en-US/commands.json
Labels: Command, Idea

#408 Vaporwave emojify commands
  src/commands/text/emojify.js
  src/commands/text/vaporwave.js
  src/locales/en-US/commands.json
Labels: Command

#411 Add birb command
  src/commands/misc/birb.js
  src/locales/en-US/commands.json
Labels: 3 - Review

#410 Add fox command
  src/commands/misc/fox.js
  src/locales/en-US/commands.json
Labels: 3 - Review

#412 Fix Cat / Dog missing category
  src/commands/misc/cat.js
  src/commands/misc/dog.js
Labels: Bug/Problem, Fix

#426 Music fixes and improvements
  src/commands/music/loop.js
  src/commands/music/nowplaying.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/queue.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/music/volume.js
  src/locales/en-US/commands.json
  src/locales/en-US/music.json
  src/music/structures/GuildPlayer.js
  src/structures/command/CommandRequirements.js
Labels: Enhancement, Feature, Fix, Music

#425 Spotify implementation
  src/apis/Spotify.js
  src/apis/Youtube.js
  src/commands/music/play.js
  src/music/MusicUtils.js
  src/music/SwitchbladePlayerManager.js
  src/music/sources/index.js
  src/music/sources/spotify/SpotifyPlaylist.js
  src/music/sources/spotify/SpotifySong.js
  src/music/sources/spotify/SpotifySongSource.js
  src/music/structures/Playlist.js
  src/music/structures/SongSearchResult.js
  src/music/structures/SongSource.js
  src/music/structures/index.js
Labels: Feature, Music

#375 Adds leaderboard command
  src/assets/png/default_avatar.png
  src/assets/svg/medal.svg
  src/commands/social/leaderboard.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
Labels: Command, Feature
