Repository SwitchbladeBot/switchblade, pull requests merged in 2018-07, with the labels that each got.

#183 Fixes 'Song not found' feedback
  src/commands/music/play.js
Labels: Fix, Music, Ready for Review

#155 Adds CoinFlip commands
  index.js
  src/commands/games/betflip.js
  src/commands/games/coinflip.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/locales/en-US/errors.json
  src/structures/command/parameters/CommandParameters.js
Labels: Command, Ready for Review

#193 Update README.md images + invite link
  README.md
Labels: Ready for Review, Repository

#192 Fixes pay command feedback
  src/commands/economy/pay.js
  src/structures/command/CommandRequirements.js
Labels: Fix

#167 Profile command
  index.js
  package-lock.json
  package.json
  src/assets/fonts/Montserrat-Black.ttf
  src/assets/fonts/Montserrat-BlackItalic.ttf
  src/assets/fonts/Montserrat-Bold.ttf
  src/assets/fonts/Montserrat-BoldItalic.ttf
  src/assets/fonts/Montserrat-ExtraBold.ttf
  src/assets/fonts/Montserrat-ExtraBoldItalic.ttf
  src/assets/fonts/Montserrat-Italic.ttf
  src/assets/fonts/Montserrat-Medium.ttf
  src/assets/fonts/Montserrat-MediumItalic.ttf
  src/assets/fonts/Montserrat-Regular.ttf
  src/assets/fonts/Montserrat-SemiBold.ttf
  src/assets/fonts/Montserrat-SemiBoldItalic.ttf
  src/assets/png/backgrounds/default.png
  src/assets/png/coins.png
  src/assets/png/daily_clock.png
  src/assets/svg/coins.svg
  src/assets/svg/daily_clock.svg
  src/commands/economy/daily.js
  src/commands/gifs/kiss.js
  src/commands/image-manipulation/triggered.js
  src/commands/misc/avatar.js
  src/commands/social/profile.js
  src/index.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/Command.js
  src/structures/command/parameters/types/UserParameter.js
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
Labels: Command, Ready for Review

#199 New workflow, new README.md!
  README.md
Labels: Repository

#200 Merge master into dev so they are in sync
  src/commands/economy/pay.js
  src/commands/misc/isitup.js
  src/locales/en-US/commands.json
  src/structures/command/CommandRequirements.js
Labels: Ready for Review, Repository

#198 Command system improvements
  src/Switchblade.js
  src/commands/configuration/setlanguage.js
  src/listeners/MainListener.js
  src/structures/APIWrapper.js
  src/structures/command/Command.js
  src/structures/command/CommandContext.js
  src/structures/command/parameters/CommandParameters.js
  src/structures/command/parameters/types/Parameter.js
  src/utils/CanvasUtils.js
  src/utils/FileUtils.js
Labels: Code quality, Enhancement, Feature, Ready for Review

#209 Add forking step to README.md
  README.md
Labels: Enhancement, Ready for Review, Repository

#203 Add a .env example
  .env.example
Labels: Ready for Review, Repository

#214 Adds bot list stuff + Blacklist
  README.md
  src/commands/botlists/listcord.js
  src/database/mongo/Schemas.js
  src/listeners/MainListener.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/structures/command/CommandContext.js
Labels: Command System, Feature, Ready for Review

#204 Dicksize command
  src/commands/misc/dicksize.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#218 Server, user and bot info commands
  src/Switchblade.js
  src/commands/misc/botinfo.js
  src/commands/misc/guildinfo.js
  src/commands/misc/userinfo.js
  src/locales/en-US/commands.json
  src/locales/en-US/regions.json
  src/structures/command/index.js
  src/structures/command/parameters/types/MemberParameter.js
  src/utils/Constants.js
Labels: Command, Ready for Review

#220 Triggered made in Canvas
  .env.example
  package-lock.json
  package.json
  src/assets/png/triggered_label.png
  src/commands/image-manipulation/triggered.js
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: Enhancement, Ready for Review, Refactor

#225 Fix c!help botinfo commandDescription not showing
  src/locales/en-US/commands.json
Labels: Fix

#229 Adds the asciify (bigtext) command + boot logo
  package-lock.json
  package.json
  src/Switchblade.js
  src/commands/misc/asciify.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#231 Remove crowdin vulnerability
  package-lock.json
  package.json
  src/apis/Crowdin.js
Labels: Enhancement

#228 Adds a cow command
  package-lock.json
  package.json
  src/commands/misc/cow.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#244 Fixes MongoDB url parser deprecation
  src/Switchblade.js
Labels: Fix, Ready for Review

#243 s!config lang - Case insensitive
  src/commands/configuration/config.js
  src/structures/command/parameters/CommandParameters.js
Labels: Enhancement, Ready for Review

#248 Only the IDs
  src/listeners/MainListener.js
Labels: Command System, Enhancement, Ready for Review

#250 Hentai command, why not ¯\_(ツ)_/¯
  src/commands/anime/hentai.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Ready for Review

#253 Update regions file
  src/locales/en-US/regions.json
Labels: Enhancement, Translation
