Repository SwitchbladeBot/switchblade, pull requests merged in 2018-08, with the labels that each got.

#255 whatanime.ga command
  src/commands/anime/whatanime.js
  src/index.js
  src/locales/en-US/commands.json
  src/utils/DiscordUtils.js
Labels: Command, Ready for Review

#260 Whatanime command delete (force merging)
  src/commands/anime/whatanime.js
  src/index.js
  src/locales/en-US/commands.json
  src/utils/DiscordUtils.js
Labels: Code quality, Command, High priority

#254 Lyrics command (again)
  .env.example
  package.json
  src/apis/Genius.js
  src/commands/music/lyrics.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Ready for Review

#263 Listcord fix
  .env.example
  src/commands/botlists/listcord.js
Labels: Fix, High priority

#265 Listcord fix
  .env.example
  src/commands/botlists/listcord.js
Labels: Fix, High priority

#275 Remove vulnerability
  package-lock.json
  package.json
Labels: Fix, High priority

#270 Inspirobot command
  src/commands/misc/inspirobot.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#272 Cowsay command
  package-lock.json
  package.json
  src/commands/misc/cowsay.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#280 Command.js hotfix
  src/structures/command/Command.js
Labels: Fix, High priority

#282 Command.js push
  src/structures/command/Command.js
Labels: Fix, High priority

#286 Cat command
  src/commands/misc/cat.js
  src/locales/en-US/commands.json
Labels: Command

#287 fix the translation
  src/locales/en-US/commands.json
Labels: Fix, High priority

#293 Package update (vulnerability and discord.js)
  package-lock.json
  package.json
Labels: High priority

#294 i18n command
  src/commands/misc/i18n.js
  src/locales/en-US/commands.json
Labels: Command

#298 Add the frankfurt region
  src/locales/en-US/regions.json
Labels: Fix, P2 - Normal priority

#299 Hentai command fix
  src/commands/anime/hentai.js
Labels: Fix, P0 - fix this NOW

#296 Adds a Beat Saver command
  src/commands/games/beatsaver.js
  src/locales/en-US/commands.json
Labels: Command

#310 Fixed the botsfordiscord.com server count
  src/listeners/MainListener.js
Labels: Bug/Problem, Ready for Review

#273 Text to Binary command
  src/commands/utility/textToBinary.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review

#312 Fixes subcommands requirements
  src/structures/command/Command.js
Labels: Fix

#313 FavColor command
  package-lock.json
  package.json
  src/assets/svg/coins.svg
  src/assets/svg/daily_clock.svg
  src/commands/social/favcolor.js
  src/commands/social/profile.js
  src/database/mongo/Schemas.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/index.js
  src/structures/command/parameters/types/ColorParameter.js
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Color.js
  src/utils/Constants.js
Labels: Command, Enhancement, Feature, Ready for Review

#314 Switch to dog.ceo
  src/commands/misc/dog.js
Labels: Command, Enhancement

#316 Remove everything Listcord related
  README.md
  src/commands/botlists/listcord.js
  src/database/mongo/Schemas.js
  src/listeners/MainListener.js
  src/locales/en-US/commands.json
Labels: P0 - fix this NOW

#315 Rep command
  src/commands/social/rep.js
  src/database/mongo/Schemas.js
  src/locales/en-US/commands.json
Labels: Command, Ready for Review
