Repository SwitchbladeBot/switchblade, pull requests merged in 2019-01, with the labels that each got.

#560 Dicksize improvement
  src/commands/misc/dicksize.js
Labels: Enhancement, Ready for Review

#564 Beatsaver command fixes
  src/commands/games/beatsaver.js
Labels: Fix, Ready for Review

#561 Modules
  index.js
  src/Switchblade.js
  src/apis/DBL.js
  src/commands/bot/dbl.js
  src/commands/configuration/config.js
  src/commands/economy/daily.js
  src/commands/economy/money.js
  src/commands/economy/pay.js
  src/commands/games/betflip.js
  src/commands/moderation/joinlock.js
  src/commands/social/favcolor.js
  src/commands/social/leaderboard.js
  src/commands/social/personaltext.js
  src/commands/social/profile.js
  src/commands/social/rep.js
  src/database/mongo/MongoRepository.js
  src/index.js
  src/listeners/AutoModerator.js
  src/modules/ConfigurationModule.js
  src/modules/EconomyModule.js
  src/modules/ModerationModule.js
  src/modules/SocialModule.js
  src/structures/Module.js
  src/structures/command/parameters/types/UserParameter.js
  src/structures/index.js
Labels: Enhancement, Feature, Ready for Review

#567 Fixes Translation Manager permission bug
  src/utils/PermissionUtils.js
Labels: Fix, Ready for Review

#563 Makes Canvas an optional dependency
  index.js
  package-lock.json
  package.json
  src/Switchblade.js
  src/commands/image-manipulation/triggered.js
  src/commands/music/nowplaying.js
  src/commands/social/leaderboard.js
  src/commands/social/profile.js
  src/commands/utility/weather.js
  src/structures/command/CommandRequirements.js
  src/utils/CanvasTemplates.js
Labels: Feature, Ready for Review

#569 Change the title of owo command to description
  src/commands/memes/owo.js
Labels: Fix

#572 Exit when websocket fails
  src/listeners/ExitOnWebSocketError.js
Labels: Fix

#562 Command execution fixes
  src/commands/anime/myanimelist.js
  src/commands/bot/help.js
  src/commands/configuration/config.js
  src/commands/games/mcquery.js
  src/commands/games/samp.js
  src/commands/games/steamladder.js
  src/commands/misc/numberfacts.js
  src/commands/misc/poll.js
  src/commands/misc/pusheen.js
  src/commands/misc/spotify.js
  src/commands/misc/strawpoll.js
  src/commands/misc/xkcd.js
  src/commands/music/lyrics.js
  src/commands/music/play.js
  src/commands/utility/currency.js
  src/commands/utility/guildicon.js
  src/commands/utility/guildinfo.js
  src/commands/utility/isitup.js
  src/commands/utility/math.js
  src/commands/utility/npm.js
  src/commands/utility/userinfo.js
  src/commands/utility/weather.js
  src/index.js
  src/listeners/MainListener.js
  src/structures/command/Command.js
  src/structures/command/CommandContext.js
  src/structures/command/CommandError.js
  src/structures/command/CommandRequirements.js
  src/structures/command/index.js
  src/structures/command/parameters/CommandParameters.js
  src/structures/command/parameters/types/BooleanParameter.js
  src/structures/command/parameters/types/ColorParameter.js
  src/structures/command/parameters/types/EmojiParameter.js
  src/structures/command/parameters/types/GuildParameter.js
  src/structures/command/parameters/types/MemberParameter.js
  src/structures/command/parameters/types/NumberParameter.js
  src/structures/command/parameters/types/UserParameter.js
Labels: Command System, Enhancement, Fix, Ready for Review

#576 It was about time to fix it
  src/apis/GoogleMaps.js
  src/commands/misc/time.js
  src/locales/en-US/commands.json
Labels: Fix

#579 Fix Listener class naming
  src/listeners/AutoModerator.js
  src/listeners/ExitOnWebSocketError.js
Labels: Fix, Ready for Review

#580 Log guild creates and removes to console + discord
  .env.example
  src/listeners/GuildLogging.js
  src/listeners/MainListener.js
  src/utils/Constants.js
Labels: Enhancement, Ready for Review

#586 League of Legends Service Status Command
  src/Switchblade.js
  src/commands/bot/botinfo.js
  src/commands/games/lolstatus.js
  src/locales/en-US/commands.json
  src/locales/en-US/lolservers.json
  src/utils/Constants.js
Labels: Command, Ready for Review

#587 Add the discordbotlist.com post
  src/listeners/MainListener.js
Labels: Enhancement

#588 Support command
  src/commands/bot/support.js
  src/locales/en-US/commands.json
Labels: Command

#595 Adds the Presidential Alert command
  src/assets/fonts/SFProDisplay-Regular.ttf
  src/assets/jpg/presidential_alert.jpg
  src/commands/image-manipulation/presidentialalert.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/CanvasUtils.js
  src/utils/Constants.js
Labels: Command, Ready for Review

#599 Twitch command (& more!)
  src/apis/Twitch.js
  src/commands/bot/botinfo.js
  src/commands/misc/twitch.js
  src/commands/utility/guildinfo.js
  src/commands/utility/userinfo.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
  src/utils/MiscUtils.js
Labels: Command, Ready for Review

#600 Tic Tac Toe game
  src/commands/games/tictactoe.js
  src/locales/en-US/commands.json
  src/structures/command/parameters/types/MemberParameter.js
Labels: Command, Ready for Review

#606 New line fix
  src/listeners/MainListener.js
Labels: Fix

#608 RoleInfo command
  src/commands/utility/roleinfo.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/index.js
  src/structures/command/parameters/types/RoleParameter.js
Labels: Command, Ready for Review

#590 Lastfm commands
  .env.example
  src/apis/LastFm.js
  src/commands/misc/lastfm.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Feature, Ready for Review

#612 Roleinfo rigmarolls fix
  src/commands/utility/roleinfo.js
  src/locales/en-US/commands.json
Labels: Fix, P2

#609 Random gradient
  src/commands/misc/uigradient.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
Labels: Command, Feature, Ready for Review

#574 Subcommands in separated files
  src/Switchblade.js
  src/commands/configuration/config.js
  src/commands/configuration/language.js
  src/commands/configuration/prefix.js
  src/test/commands.js
Labels: Command System, Enhancement, Ready for Review

#614 SongSources fixes
  src/apis/Youtube.js
  src/music/sources/deezer/DeezerSongSource.js
  src/music/sources/spotify/SpotifySongSource.js
  src/music/structures/SongSource.js
Labels: Fix, Music System

#625 Big bug fix
  src/commands/bot/dbl.js
  src/commands/games/tictactoe.js
  src/commands/misc/asciify.js
  src/commands/misc/birb.js
  src/commands/misc/cowsay.js
  src/commands/misc/time.js
  src/commands/music/queue.js
  src/commands/music/seek.js
  src/commands/reddit/birb.js
  src/locales/en-US/commands.json
  src/music/structures/GuildPlayer.js
  src/structures/command/parameters/types/NumberParameter.js
Labels: Fix, Ready for Review

#629 StringParameter cleanContent support
  src/commands/misc/asciify.js
  src/commands/misc/cowsay.js
  src/index.js
  src/structures/command/parameters/types/StringParameter.js
  src/utils/DiscordUtils.js
Labels: Feature, Fix, Ready for Review

#632 Subcommand fix on test
  src/test/commands.js
Labels: Fix, Ready for Review

#634 Fix multiple command usages
  src/commands/configuration/language.js
  src/commands/games/lolstatus.js
  src/commands/games/steamladder.js
  src/commands/misc/spotify.js
  src/commands/utility/currency.js
Labels: Fix, Ready for Review

#643 [DEV] Leaderboard image resolution fix
  src/utils/CanvasTemplates.js
Labels: Fix

#642 [MASTER] Leaderboard image resolution fix
  src/utils/CanvasTemplates.js
Labels: Fix
