Repository SwitchbladeBot/switchblade, pull requests merged in 2019-04, with the labels that each got.

#597 Add Hastebin command
  src/commands/utility/hastebin.js
  src/locales/en-US/commands.json
Labels: part: commands, status: waiting-for-review, type: new-feature

#802 Guild Acronym
  src/commands/utility/guildinfo.js
Labels: status: waiting-for-review

#804 Brackets s!play fix
  src/commands/music/play.js
Labels: status: waiting-for-review

#805 Added "I'm Feeling Lucky" to SearchCommand
  package-lock.json
  src/structures/command/SearchCommand.js
Labels: part: command-system, status: waiting-for-review, type: enhancement
