Repository SwitchbladeBot/switchblade, pull requests merged in 2019-02, with the labels that each got.

#645 LUL
  src/commands/games/betflip.js
  src/modules/EconomyModule.js
Labels: Fix

#651 LUL³
  src/commands/social/rep.js
Labels: Fix

#637 Ship command
  src/assets/svg/heart.svg
  src/commands/social/ship.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: Command, Feature, Ready for Review

#605 NSFW Commands
  src/commands/anime/hentai.js
  src/commands/furry/e621.js
  src/commands/nsfw/anal.js
  src/commands/nsfw/ass.js
  src/commands/nsfw/boobs.js
  src/commands/nsfw/hentai.js
  src/commands/nsfw/porn.js
  src/commands/nsfw/porngifs.js
  src/commands/nsfw/pussy.js
  src/commands/nsfw/yaoi.js
  src/commands/nsfw/yiff.js
  src/commands/nsfw/yuri.js
  src/locales/en-US/commands.json
Labels: Ready for Review

#662 ✨ GitHub command
  .env.example
  src/apis/GitHub.js
  src/commands/misc/github.js
  src/commands/misc/github/organization.js
  src/commands/misc/github/repository.js
  src/commands/misc/github/user.js
  src/commands/misc/spotify.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Ready for Review

#669 API web interface
  .env.example
  package-lock.json
  package.json
  src/Switchblade.js
  src/http/api/commands.js
  src/http/api/contributors.js
  src/http/api/guilds.js
  src/http/api/statistics.js
  src/http/api/users.js
  src/http/api/web.js
  src/utils/EndpointUtils.js
Labels: Dashboard, Enhancement, Feature

#639 Weather units
  src/commands/utility/weather.js
  src/utils/CanvasTemplates.js
Labels: Fix, Ready for Review

#652 Deezer and search command
  src/Switchblade.js
  src/apis/Deezer.js
  src/commands/misc/deezer.js
  src/commands/misc/deezer/album.js
  src/commands/misc/deezer/artist.js
  src/commands/misc/deezer/playlist.js
  src/commands/misc/deezer/podcast.js
  src/commands/misc/deezer/track.js
  src/commands/misc/deezer/user.js
  src/commands/misc/github.js
  src/commands/misc/github/repository.js
  src/commands/misc/lastfm.js
  src/commands/misc/lastfm/album.js
  src/commands/misc/lastfm/artist.js
  src/commands/misc/lastfm/track.js
  src/commands/misc/lastfm/user.js
  src/commands/misc/spotify.js
  src/commands/misc/spotify/album.js
  src/commands/misc/spotify/artist.js
  src/commands/misc/spotify/playlist.js
  src/commands/misc/spotify/track.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/locales/en-US/music.json
  src/structures/command/SearchCommand.js
  src/utils/Constants.js
  src/utils/MiscUtils.js
Labels: Code quality, Command, Feature, Ready for Review, Refactor

#675 Add translator welcome command
  src/commands/developers/welcometranslator.js
  src/locales/en-US/commands.json
Labels: Command, Feature, Ready for Review

#680 Profile API
  src/http/api/users.js
  src/modules/SocialModule.js
Labels: Dashboard, Feature, Ready for Review

#683 Deezer missing strings fix 2
  src/locales/en-US/commands.json
Labels: Ready for Review, Translation

#686 Halp alias (testing)
  src/commands/bot/help.js
Labels: T.E.S.T

#663 ✨ Discord Bot List search command
  package-lock.json
  src/apis/DBL.js
  src/commands/bot/dbl.js
  src/commands/bot/vote.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: Command, Feature, PR: reviewed-approved, Ready for Review

#681 Guild dashboard API
  src/http/api/commands.js
  src/http/api/guilds.js
  src/http/api/locales.js
  src/http/api/statistics.js
  src/http/api/users.js
  src/http/api/web.js
  src/modules/ConfigurationModule.js
  src/utils/EndpointUtils.js
Labels: PR: reviewed-approved, part: http, type: new-feature

#697 Update cat.js to use /r/catpictures instead
  src/commands/misc/cat.js
Labels: PR: reviewed-approved, part: commands, status: waiting-for-review, type: enhancement

#704 Now playing with brand logos
  src/assets/svg/brands/deezer.svg
  src/assets/svg/brands/http.svg
  src/assets/svg/brands/soundcloud.svg
  src/assets/svg/brands/spotify.svg
  src/assets/svg/brands/twitch.svg
  src/assets/svg/brands/youtube.svg
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: PR: reviewed-approved, type: new-feature

#699 start-stopTyping fixes
  src/commands/developers/reloadlocales.js
  src/commands/gifs/handshake.js
  src/commands/gifs/hug.js
  src/commands/gifs/kiss.js
  src/commands/gifs/pat.js
  src/commands/gifs/slap.js
  src/commands/image-manipulation/triggered.js
  src/commands/misc/adorable.js
  src/commands/misc/deezer/album.js
  src/commands/misc/deezer/artist.js
  src/commands/misc/deezer/playlist.js
  src/commands/misc/deezer/podcast.js
  src/commands/misc/deezer/track.js
  src/commands/misc/deezer/user.js
  src/commands/misc/lastfm/album.js
  src/commands/misc/lastfm/artist.js
  src/commands/misc/lastfm/track.js
  src/commands/misc/lastfm/user.js
  src/commands/misc/numberfacts.js
  src/commands/misc/spotify/album.js
  src/commands/misc/spotify/artist.js
  src/commands/misc/spotify/playlist.js
  src/commands/misc/spotify/track.js
  src/commands/misc/spotify/user.js
Labels: PR: reviewed-approved, status: waiting-for-review, type: enhancement

#702 StringParameter small improvement
  src/commands/configuration/prefix.js
  src/locales/en-US/errors.json
  src/modules/ConfigurationModule.js
  src/structures/command/parameters/types/StringParameter.js
Labels: PR: reviewed-approved, status: waiting-for-review, type: code-quality

#701 Loaders implementation
  src/Switchblade.js
  src/index.js
  src/loaders/APILoader.js
  src/loaders/CommandLoader.js
  src/loaders/DatabaseLoader.js
  src/loaders/HTTPLoader.js
  src/loaders/ListenerLoader.js
  src/loaders/LocaleLoader.js
  src/loaders/ModuleLoader.js
  src/loaders/index.js
  src/structures/Loader.js
Labels: PR: reviewed-approved, status: waiting-for-review, type: code-quality, type: refactor

#705 UIGradients fix
  src/commands/misc/uigradient.js
Labels: PR: reviewed-approved, priority-level: 3, type: fix

#716 Restricted Emoji Command
  src/commands/utility/restrictemoji.js
  src/commands/utility/restrictemoji/add.js
  src/commands/utility/restrictemoji/remove.js
  src/commands/utility/restrictemoji/reset.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/parameters/types/EmojiParameter.js
Labels: part: commands, status: waiting-for-review, type: new-feature

#723 🐛 Fixed a bug where emojis didn't work on EmojiParameter commands
  src/commands/utility/restrictemoji/add.js
  src/commands/utility/restrictemoji/remove.js
  src/commands/utility/restrictemoji/reset.js
  src/structures/command/parameters/types/EmojiParameter.js
Labels: priority-level: 2, status: waiting-for-review, type: fix

#707 MoreJPEG command
  src/commands/image-manipulation/morejpeg.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
Labels: part: commands, status: waiting-for-review, type: new-feature

#737 URL parameter
  src/locales/en-US/errors.json
  src/structures/command/parameters/types/URLParameter.js
  src/structures/command/parameters/types/index.js
Labels: status: waiting-for-review, type: new-feature

#726 EmojiParameter refactor
  src/commands/utility/restrictemoji/add.js
  src/commands/utility/restrictemoji/remove.js
  src/commands/utility/restrictemoji/reset.js
  src/structures/command/parameters/types/EmojiParameter.js
Labels: part: command-system, status: waiting-for-review, type: code-quality, type: enhancement, type: refactor

#734 Spotify fixes
  package-lock.json
  src/commands/misc/spotify/playlist.js
Labels: status: waiting-for-review, type: fix

#728 ImageParameter
  package-lock.json
  package.json
  src/commands/image-manipulation/morejpeg.js
  src/locales/en-US/errors.json
  src/structures/command/Command.js
  src/structures/command/parameters/CommandParameters.js
  src/structures/command/parameters/types/ImageParameter.js
  src/structures/command/parameters/types/index.js
  src/utils/CanvasTemplates.js
Labels: part: command-system, status: approved, type: enhancement, type: new-feature

#747 ✨ HaveIBeenPwned.com command
  package-lock.json
  src/apis/HIBP.js
  src/commands/misc/hibp.js
  src/commands/misc/hibp/breach.js
  src/commands/misc/hibp/paste.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: status: waiting-for-review, type: idea, type: new-feature
