Repository SwitchbladeBot/switchblade, pull requests merged in 2019-03, with the labels that each got.

#690 Translation enhancements
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/locales/en-US/errors.json
  src/locales/en-US/moderation.json
  src/locales/en-US/music.json
Labels: part: translation, status: approved, status: waiting-for-review, type: enhancement

#749 UserParameter improvements
  src/structures/command/parameters/types/UserParameter.js
Labels: part: command-system, status: waiting-for-review, type: new-feature

#743 Chorus command
  src/apis/Chorus.js
  src/commands/games/chorus.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/structures/command/SearchCommand.js
  src/utils/Constants.js
Labels: game-integrations, part: commands, status: waiting-for-review, type: new-feature

#754 Favcolor description improvements
  src/locales/en-US/commands.json
Labels: status: waiting-for-review, type: enhancement

#729 Mixer integration
  src/apis/Mixer.js
  src/assets/svg/brands/mixer.svg
  src/music/MusicUtils.js
  src/music/SwitchbladePlayerManager.js
  src/music/sources/deezer/DeezerSong.js
  src/music/sources/index.js
  src/music/sources/mixer/MixerSong.js
  src/music/sources/soundcloud/SoundcloudSong.js
  src/music/sources/spotify/SpotifySong.js
  src/music/sources/twitch/TwitchSong.js
  src/music/sources/youtube/YoutubeSong.js
  src/utils/Constants.js
Labels: part: music-system, status: changes-requested, type: new-feature

#712 Youtube command
  src/apis/Youtube.js
  src/commands/misc/youtube.js
  src/locales/en-US/commands.json
  src/structures/command/SearchCommand.js
  src/utils/Constants.js
  src/utils/MiscUtils.js
Labels: part: commands, status: waiting-for-review, type: fix, type: new-feature

#739 Database changes
  src/commands/developers/blacklist.js
  src/commands/developers/unblacklist.js
  src/commands/developers/whyblacklisted.js
  src/database/Repository.js
  src/database/mongo/MongoDB.js
  src/database/mongo/MongoRepository.js
  src/database/mongo/Schemas.js
  src/database/mongo/repositories/GuildRepository.js
  src/database/mongo/repositories/UserRepository.js
  src/database/mongo/repositories/index.js
  src/database/mongo/schemas/GuildSchema.js
  src/database/mongo/schemas/UserSchema.js
  src/index.js
  src/listeners/MainListener.js
  src/modules/BlacklistModule.js
  src/modules/ConfigurationModule.js
  src/modules/EconomyModule.js
  src/modules/ModerationModule.js
  src/modules/SocialModule.js
  src/utils/BlacklistUtils.js
Labels: part: database, status: waiting-for-review, type: enhancement

#755 👌 Make NPM command extend SearchCommand
  package-lock.json
  package.json
  src/commands/utility/npm.js
  src/locales/en-US/commands.json
Labels: part: commands, status: waiting-for-review, type: enhancement

#766 UserParameter fix
  src/structures/command/parameters/types/UserParameter.js
Labels: part: command-system, status: waiting-for-review, type: fix

#770 Accept self user on s!profile
  src/commands/social/profile.js
Labels: priority-level: 4, status: waiting-for-review, type: fix

#756 (not so) Massive Issue Clearance
  package-lock.json
  package.json
  src/commands/bot/help.js
  src/commands/image-manipulation/triggered.js
  src/commands/memes/piratespeak.js
  src/commands/moderation/purge.js
  src/listeners/MainListener.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
Labels: part: commands, status: waiting-for-review, type: enhancement, type: new-feature

#781 Minecraft command
  src/commands/games/mcquery.js
  src/commands/games/mcquery/namehistory.js
  src/commands/games/mcquery/server.js
  src/commands/games/mcquery/skin.js
  src/commands/games/minecraft.js
  src/locales/en-US/commands.json
Labels: game-integrations, part: commands, status: waiting-for-review, type: new-feature

#786 Crowdin docker fix
  .circleci/config.yml
Labels: part: translation, type: fix

#787 minecraft command fixes
  src/commands/games/minecraft/namehistory.js
  src/commands/games/minecraft/server.js
  src/commands/games/minecraft/skin.js
  src/locales/en-US/commands.json
Labels: status: waiting-for-review
