Repository SwitchbladeBot/switchblade, pull requests merged in 2019-06, with the labels that each got.

#861 REST countries
  src/commands/utility/country.js
  src/locales/en-US/commands.json
Labels: part: commands, status: waiting-for-review

#832 ⚡ node-fetch migration
  package.json
  src/apis/Chorus.js
  src/apis/DBL.js
  src/apis/DarkSky.js
  src/apis/Deezer.js
  src/apis/Genius.js
  src/apis/GitHub.js
  src/apis/GoogleMaps.js
  src/apis/HIBP.js
  src/apis/LastFm.js
  src/apis/LeagueOfLegends.js
  src/apis/Mixer.js
  src/apis/Soundcloud.js
  src/apis/Spotify.js
  src/apis/Tumblr.js
  src/apis/Twitch.js
  src/commands/anime/kemonomimi.js
  src/commands/anime/kitsune.js
  src/commands/anime/neko.js
  src/commands/anime/nekogif.js
  src/commands/games/beatsaver.js
  src/commands/games/betflip.js
  src/commands/games/coinflip.js
  src/commands/games/fivem.js
  src/commands/games/leagueoflegends/status.js
  src/commands/games/minecraft/namehistory.js
  src/commands/games/minecraft/server.js
  src/commands/games/minecraft/skin.js
  src/commands/gifs/hug.js
  src/commands/gifs/kiss.js
  src/commands/gifs/pat.js
  src/commands/gifs/slap.js
  src/commands/misc/dog.js
  src/commands/misc/fox.js
  src/commands/misc/geekjokes.js
  src/commands/misc/inspirobot.js
  src/commands/misc/numberfacts.js
  src/commands/misc/shiba.js
  src/commands/misc/strawpoll.js
  src/commands/misc/uigradient.js
  src/commands/misc/xkcd.js
  src/commands/utility/currency.js
  src/commands/utility/hastebin.js
  src/commands/utility/isitup.js
  src/listeners/MainListener.js
  src/music/SwitchbladePlayerManager.js
  src/utils/Reddit.js
Labels: status: waiting-for-review, type: enhancement, type: refactor

#862 QR Code command and imageParameter improvements
  src/commands/misc/qrcode.js
  src/commands/misc/qrcode/generate.js
  src/commands/misc/qrcode/read.js
  src/locales/en-US/commands.json
  src/structures/command/parameters/types/ImageParameter.js
Labels: part: commands, status: waiting-for-review, type: new-feature

#885 Fix TypeError
  src/apis/DarkSky.js
Labels: status: waiting-for-review, type: fix

#897 Fix error on minecraft server command
  src/commands/games/minecraft/server.js
Labels: priority-level: 1

#893 Winston Logging
  .env.example
  index.js
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/Soundcloud.js
  src/commands/games/steamladder/steamladder.js
  src/commands/misc/xkcd.js
  src/commands/music/play.js
  src/commands/utility/math.js
  src/http/api/connections.js
  src/http/webhooks/dbl.js
  src/listeners/AutoModerator.js
  src/listeners/ExitOnWebSocketError.js
  src/listeners/GuildLogging.js
  src/listeners/MainListener.js
  src/loaders/APILoader.js
  src/loaders/CommandLoader.js
  src/loaders/ConnectionLoader.js
  src/loaders/DatabaseLoader.js
  src/loaders/HTTPLoader.js
  src/loaders/ListenerLoader.js
  src/loaders/LocaleLoader.js
  src/loaders/ModuleLoader.js
  src/modules/BlacklistModule.js
  src/modules/ConfigurationModule.js
  src/modules/ConnectionModule.js
  src/modules/ModerationModule.js
  src/modules/SocialModule.js
  src/music/SwitchbladePlayerManager.js
  src/music/sources/deezer/DeezerSongSource.js
  src/music/sources/spotify/SpotifySongSource.js
  src/music/structures/GuildPlayer.js
  src/music/structures/SongSource.js
  src/structures/Loader.js
  src/structures/command/Command.js
  src/structures/command/parameters/types/ImageParameter.js
  src/utils/FileUtils.js
Labels: scope: logging, type: refactor

#899 New URL search parameters system
  src/apis/Chorus.js
  src/apis/DBL.js
  src/apis/DarkSky.js
  src/apis/Deezer.js
  src/apis/Genius.js
  src/apis/GitHub.js
  src/apis/GoogleMaps.js
  src/apis/LastFm.js
  src/apis/Mixer.js
  src/apis/Soundcloud.js
  src/apis/Spotify.js
  src/apis/Tumblr.js
  src/apis/Twitch.js
  src/commands/utility/currency.js
  src/music/SwitchbladePlayerManager.js
Labels: dependent
