Repository SwitchbladeBot/switchblade, pull requests merged in 2019-05, with the labels that each got.

#748 Connections + Last.fm scrobbler
  .env.example
  src/apis/LastFm.js
  src/commands/configuration/connection.js
  src/commands/misc/lastfm/love.js
  src/commands/misc/lastfm/unlove.js
  src/commands/music/scrobbling/enable.js
  src/commands/music/scrobbling/percent.js
  src/commands/music/scrobbling/scrobbling.js
  src/connections/lastfm.js
  src/database/mongo/repositories/UserRepository.js
  src/database/mongo/schemas/UserSchema.js
  src/http/api/connections.js
  src/http/api/users.js
  src/index.js
  src/listeners/MainListener.js
  src/loaders/ConnectionLoader.js
  src/loaders/index.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
  src/modules/ConnectionModule.js
  src/music/sources/soundcloud/SoundcloudSong.js
  src/music/structures/GuildPlayer.js
  src/music/structures/Song.js
  src/structures/Connection.js
  src/structures/command/parameters/types/NumberParameter.js
  src/utils/Constants.js
Labels: part: commands, part: http, part: music-system, status: waiting-for-review, type: idea, type: new-feature

#825 Fix blacklist commands errors
  src/commands/developers/blacklist.js
  src/commands/developers/unblacklist.js
  src/commands/developers/whyblacklisted.js
Labels: priority-level: 0, type: fix

#834 Scrobbling fixes
  src/apis/LastFm.js
  src/music/structures/GuildPlayer.js
Labels: part: music-system, type: enhancement, type: fix

#836 Translate command
  src/apis/GoogleTranslate.js
  src/commands/utility/translate.js
  src/loaders/LocaleLoader.js
  src/locales/en-US/commands.json
  src/locales/en-US/languages.json
Labels: part: commands

#843 Fix #842 and redesign npm embed
  package-lock.json
  src/commands/utility/npm.js
  src/locales/en-US/commands.json
  src/structures/SwitchbladeEmbed.js
Labels: part: commands, status: waiting-for-review, type: fix, type: refactor

#858 Fix embed formatting algorithm
  src/structures/SwitchbladeEmbed.js
Labels: type: refactor
