Repository SwitchbladeBot/switchblade, pull requests merged in 2019-07, with the labels that each got.

#920 Create parrot.js
  src/commands/reddit/parrot.js
Labels: status: waiting-for-review, type: new-feature

#934 s!purge fix
  src/commands/moderation/purge.js
Labels: priority-level: 2, status: waiting-for-review, type: fix

#935 Music Inactivity Notification
  src/commands/music/play.js
  src/locales/en-US/music.json
  src/music/structures/GuildPlayer.js
Labels: part: music-system, status: waiting-for-review, type: new-feature

#931 League of Legends Weekly Champion Rotation
  .env.example
  src/apis/LeagueOfLegends.js
  src/commands/games/leagueoflegends.js
  src/commands/games/leagueoflegends/champion.js
  src/commands/games/leagueoflegends/rotation.js
  src/locales/en-US/commands.json
Labels: part: commands, status: waiting-for-review

#937 Fetch required emoji from emoji guilds
  .env.example
  src/commands/bot/botinfo.js
  src/commands/bot/i18n.js
  src/commands/bot/support.js
  src/commands/configuration/connection.js
  src/commands/games/chorus.js
  src/commands/games/leagueoflegends/status.js
  src/commands/games/steamladder/profile.js
  src/commands/misc/deezer/album.js
  src/commands/misc/deezer/artist.js
  src/commands/misc/deezer/playlist.js
  src/commands/misc/deezer/track.js
  src/commands/misc/github/organization.js
  src/commands/misc/github/user.js
  src/commands/misc/spotify/album.js
  src/commands/misc/spotify/playlist.js
  src/commands/misc/spotify/track.js
  src/commands/music/pause.js
  src/commands/music/play.js
  src/commands/music/skip.js
  src/commands/music/stop.js
  src/commands/reddit/cat.js
  src/commands/utility/guildinfo.js
  src/commands/utility/userinfo.js
  src/listeners/MainListener.js
  src/loaders/EmojiLoader.js
  src/locales/en-US/commands.json
  src/structures/command/Command.js
  src/utils/Constants.js
Labels: status: waiting-for-review, type: enhancement
