Repository SwitchbladeBot/switchblade, pull requests merged in 2019-10, with the labels that each got.

#979 very important fix
  src/utils/Constants.js
Labels: priority-level: 0, status: waiting-for-review, type: fix

#959 lastfm top commands
  src/commands/misc/lastfm.js
  src/commands/misc/lastfm/top.js
  src/locales/en-US/commands.json
Labels: part: commands, type: new-feature

#982 Leaderboard rounded values
  src/commands/social/leaderboard/money.js
  src/commands/social/leaderboard/reputation.js
Labels: status: waiting-for-review, type: fix

#984 Self-assignable roles + Reaction roles
  src/commands/utility/sendembed.js
Labels: help-wanted, part: commands, type: new-feature

#981 Command loading error message fix
  src/commands/games/leagueoflegends/champion.js
  src/commands/games/leagueoflegends/rotation.js
  src/loaders/CommandLoader.js
Labels: status: waiting-for-review, type: fix

#1000 Removed David DM Badge currently down
  README.md
Labels: scope: repository, type: fix

#996 fix booleanFlag usage on leet cmd
  src/commands/text/leet.js
Labels: priority-level: 3, type: fix

#1009 Auto-role implementation
  package-lock.json
  package.json
  src/controllers/SocialController.js
  src/http/api/contributors.js
  src/http/api/guilds.js
  src/index.js
  src/listeners/AutoModerator.js
  src/modules/AutoRoleModule.js
  src/modules/JoinLockModule.js
  src/modules/LanguageModule.js
  src/modules/PrefixModule.js
  src/structures/Module.js
  src/utils/EndpointUtils.js
Labels: status: waiting-for-review, type: feature

#986 Add placegoat.com command
  src/commands/misc/goat.js
  src/locales/en-US/commands.json
Labels: scope: commands, type: feature

#1017 Command Rules
  src/Switchblade.js
  src/commands/games/leagueoflegends.js
  src/http/api/guilds.js
  src/loaders/CommandLoader.js
  src/modules/CommandsModule.js
  src/structures/Module.js
Labels: scope: command-system, scope: http, status: waiting-for-review, type: enhancement, type: feature

#1021 Placeholder parser
  src/index.js
  src/listeners/AutoModerator.js
  src/modules/JoinLockModule.js
  src/modules/PrefixModule.js
  src/utils/placeholders/PlaceholderRules.js
  src/utils/placeholders/PlaceholderUtils.js
Labels: status: waiting-for-review, type: feature

#1023 Command Rules improvements
  src/modules/CommandsModule.js
Labels: status: wip, type: enhancement, type: feature

#980 Fixes #840
  src/database/DBWrapper.js
  src/database/mongo/MongoDB.js
  src/loaders/DatabaseLoader.js
  src/loaders/index.js
Labels: status: waiting-for-review, type: fix

#1025 Fixes ImageParameter old messages order
  src/structures/command/parameters/types/ImageParameter.js
Labels: priority-level: 4, status: waiting-for-review, type: fix

#1027 Fix Chorus Problems
  src/commands/games/chorus.js
  src/loaders/index.js
Labels: scope: commands, status: waiting-for-review, type: fix

#1038 Legends of Runeterra Commands
  package-lock.json
  package.json
  src/apis/LegendsOfRuneterra.js
  src/commands/games/leagueoflegends.js
  src/commands/games/legendsofruneterra.js
  src/commands/games/legendsofruneterra/card.js
  src/index.js
  src/loaders/EmojiLoader.js
  src/locales/en-US/commands.json
  src/structures/command/Command.js
  src/structures/command/SubcommandListCommand.js
  src/structures/command/index.js
Labels: scope: command-system, scope: commands, status: waiting-for-review, type: enhancement, type: feature
