Repository SwitchbladeBot/switchblade, pull requests merged in 2020-07, with the labels that each got.

#1126 🇧🇷 Brazil related commands
  package-lock.json
  package.json
  src/apis/Sinesp.js
  src/apis/ViaCEP.js
  src/commands/government/searchplate.js
  src/commands/utility/cep.js
  src/locales/en-US/categories.json
  src/locales/en-US/commands.json
Labels: scope: commands

#1132 Mention fix
  src/commands/bot/help.js
Labels: priority: 2 high, type: fix

#1133 📬 Correios track command
  package-lock.json
  package.json
  src/apis/Correios.js
  src/commands/government/correios.js
  src/commands/government/searchplate.js
  src/locales/en-US/commands.json
  src/locales/en-US/commons.json
Labels: scope: commands, status: waiting-for-review
