Repository SwitchbladeBot/switchblade, pull requests merged in 2020-05, with the labels that each got.

#991 Add holidays command
  src/commands/utility/holidays.js
  src/loaders/LocaleLoader.js
  src/locales/en-US/commands.json
  src/locales/en-US/countries.json
Labels: scope: commands, type: feature

#1107 League commands fix (+ s!holiday now works)
  package-lock.json
  src/apis/LeagueOfLegends.js
  src/commands/games/leagueoflegends/champion.js
  src/commands/games/leagueoflegends/rotation.js
  src/commands/games/leagueoflegends/status.js
  src/commands/utility/holidays.js
Labels: priority: 3 medium, severity: moderate, type: fix

#1109 Use lorassets for the Legends of Runeterra API
  Dockerfile
  index.js
  package-lock.json
  package.json
  src/Switchblade.js
  src/apis/LegendsOfRuneterra.js
  src/apis/Soundcloud.js
  src/listeners/AutoModerator.js
  src/listeners/MainListener.js
  src/loaders/APILoader.js
  src/loaders/DatabaseLoader.js
  src/loaders/ListenerLoader.js
  src/loaders/index.js
  src/structures/Loader.js
  src/structures/command/CommandContext.js
Labels: scope: apis, type: enhancement

#1070 Add RubyGems.org command
  .env.example
  src/apis/RubyGems.js
  src/commands/utility/rubygems.js
  src/locales/en-US/commands.json
Labels: scope: commands
