Repository SwitchbladeBot/switchblade, pull requests merged in 2020-09, with the labels that each got.

#1154 Update avatar command
  src/commands/utility/avatar.js
Labels: scope: commands, type: fix

#1140 Adds role list command
  src/commands/utility/rolelist.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/PaginatedEmbed.js
Labels: help-wanted, scope: commands, status: waiting-for-review, type: feature

#1156 Google Play Store search command
  package-lock.json
  package.json
  src/apis/GooglePlay.js
  src/commands/misc/googleplay.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1162 HOTFIX Update rolelist.js
  src/commands/utility/rolelist.js
Labels: scope: commands, type: fix

#1161 update owoify
  src/utils/Owoify.js
Labels: scope: code-quality, type: refactor

#1139 Adds emojis command
  src/commands/utility/emojilist.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
Labels: help-wanted, scope: commands, status: waiting-for-review, type: feature

#1167 added search snapcraft command
  src/apis/Snapcraft.js
  src/commands/utility/snapcraft.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1153 Added '2048' command
  src/commands/games/2048.js
  src/locales/en-US/commands.json
Labels: type: feature

#1169 Update NodeJS to v12
  Dockerfile
  package.json
Labels: scope: dependencies, severity: major, type: fix

#1141 Added info commands
  src/commands/utility/info.js
  src/commands/utility/info/category.js
  src/commands/utility/info/channel.js
  src/commands/utility/info/emote.js
  src/commands/utility/info/voice.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/CommandRequirements.js
Labels: help-wanted, scope: commands, status: waiting-for-review, type: idea

#1170 Add 5s nodemon reload delay
  package.json
Labels: scope: quality-of-life, type: fix

#1159 VSCode Marketplace Search Command
  package-lock.json
  package.json
  src/apis/VSCodeExtensions.js
  src/commands/misc/vscodeextension.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1192 added vscode alias to the vscodeextension command
  src/commands/misc/vscodeextension.js
Labels: scope: commands

#1165 Freefire weapons command
  src/apis/FreeFire.js
  src/commands/games/freefire.js
  src/commands/games/freefire/weapon.js
  src/locales/en-US/commands.json
Labels: scope: commands, type: feature

#1176 Kanna Paper command
  src/assets/png/kanna_paper_template.png
  src/commands/image-manipulation/kannapaper.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1166 Chocolatey Package Search Command
  src/apis/Chocolatey.js
  src/commands/misc/chocolatey.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1188 Added JetBrains Plugin Search command
  src/apis/JetBrainsPlugins.js
  src/commands/misc/jetbrainsplugin.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1137 Adds render command
  src/commands/moderation/move.js
  src/commands/utility/render.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/parameters/types/ChannelParameter.js
  src/structures/command/parameters/types/MessageLinkParameter.js
  src/utils/DiscordUtils.js
Labels: scope: commands, status: waiting-for-review, type: feature

#1194 Removed search-npm-registry, using API directly instead
  package-lock.json
  package.json
  src/apis/NPMRegistry.js
  src/commands/utility/npm.js
Labels: scope: commands, type: refactor

#1187 Eclipse Plugin Search Command
  package-lock.json
  package.json
  src/apis/EclipsePlugins.js
  src/commands/misc/eclipseplugin.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1199 Switch neko API endpoint to waifu.pics and fix waifu command
  src/commands/anime/neko.js
  src/commands/anime/waifu.js
Labels: scope: commands, type: fix

#1195 render hotfix
  src/commands/utility/render.js
Labels: scope: code-quality, type: fix, type: refactor
