Repository SwitchbladeBot/switchblade, pull requests merged in 2020-10, with the labels that each got.

#1207 URGENT FIX OMG
  src/structures/command/parameters/types/MessageLinkParameter.js
Labels: priority: 1 immediate, scope: code-quality, severity: critical, status: waiting-for-review, type: fix

#1219 Add petpet command
  src/assets/png/petpet.png
  src/commands/image-manipulation/petpet.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1211 Flathub Search Command
  src/apis/FlatHub.js
  src/commands/misc/flathub.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1216 MessageLinkParameter improvements
  src/structures/command/parameters/types/MessageLinkParameter.js
Labels: scope: code-quality, status: waiting-for-review, type: enhancement

#1217 SearchCommand single result handling
  src/structures/command/SearchCommand.js
Labels: scope: code-quality, status: waiting-for-review, type: enhancement

#1220 Small cached API changes
  src/apis/FreeFire.js
  src/apis/LeagueOfLegends.js
  src/apis/LegendsOfRuneterra.js
Labels: scope: apis, scope: code-quality, status: waiting-for-review, type: enhancement

#1221 GIF commands user mention fix
  src/commands/gifs/handshake.js
  src/commands/gifs/hug.js
  src/commands/gifs/kiss.js
  src/commands/gifs/pat.js
  src/commands/gifs/slap.js
Labels: scope: commands, type: fix

#1213 fix leet vulnerability
  src/commands/text/leet.js
Labels: severity: major, type: fix

#1208 add whatLanguage command
  .env.example
  src/apis/LanguageLayer.js
  src/commands/misc/whatlanguage.js
  src/locales/en-US/commands.json
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1225 Added Owlbot command
  .env.example
  src/apis/Owlbot.js
  src/commands/misc/owlbot.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1232 Packagist SearchCommand Added
  src/apis/Packagist.js
  src/commands/utility/packagist.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1200 Safer math command
  package-lock.json
  package.json
  src/apis/Mathematics.js
  src/commands/utility/math.js
Labels: severity: major, type: fix

#1173 Command parameter + Command Source Code Command
  src/commands/bot/commandsource.js
  src/commands/bot/help.js
  src/index.js
  src/loaders/CommandLoader.js
  src/locales/en-US/commands.json
  src/locales/en-US/errors.json
  src/structures/command/parameters/types/CommandParameter.js
  src/structures/command/parameters/types/index.js
  src/utils/FileUtils.js
  src/utils/GitUtils.js
Labels: scope: commands, type: feature

#1235 Instagram command
  src/apis/Instagram.js
  src/commands/social/instagram.js
  src/commands/social/ship.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1227 Fixed hacktoberfest non working link and positioning on the summary
  README.md
Labels: hacktoberfest-accepted, scope: repository, type: fix

#1226 Add Brainfuck Command
  src/commands/utility/brainfuck.js
  src/locales/en-US/commands.json
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1231 Here we go again
  src/assets/png/ashwga.png
  src/commands/memes/ashwga.js
  src/locales/en-US/commands.json
  src/utils/CanvasTemplates.js
  src/utils/Constants.js
Labels: scope: commands, type: feature

#1218 added wikipedia command
  package-lock.json
  package.json
  src/commands/utility/wikipedia.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1204 GiveRole command
  src/commands/moderation/giverole.js
  src/locales/en-US/commands.json
Labels: dependent, hacktoberfest-accepted, scope: commands, type: feature

#1191 Google Play sub-commands
  src/apis/GooglePlay.js
  src/commands/misc/googleplay.js
  src/commands/misc/googleplay/app.js
  src/commands/misc/googleplay/developer.js
  src/locales/en-US/commands.json
Labels: hacktoberfest-accepted, scope: commands, type: enhancement

#1198 removed DiscordUtils#cleanContent
  src/commands/government/searchplate.js
  src/structures/command/parameters/types/StringParameter.js
  src/utils/DiscordUtils.js
Labels: hacktoberfest-accepted, scope: code-quality

#1209 CurseForge Modpack
  src/apis/CurseForge.js
  src/commands/games/minecraft/modpack.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1244 Covid-19 command
  index.js
  package-lock.json
  package.json
  src/apis/Covid19.js
  src/commands/misc/covid.js
  src/commands/misc/covid/continents.js
  src/commands/misc/covid/countries.js
  src/commands/misc/covid/states.js
  src/commands/misc/covid/worldwide.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: hacktoberfest-accepted, scope: commands, type: feature

#1242 added steam command
  package-lock.json
  package.json
  src/apis/SteamStore.js
  src/commands/misc/steam.js
  src/locales/en-US/commands.json
  src/utils/Constants.js
Labels: scope: commands, type: feature
