Repository SwitchbladeBot/switchblade, pull requests merged in 2021-10, with the labels that each got.

#1327 fix: patch erlpack for node 16
  package-lock.json
  package.json
Labels: scope: dependencies

#1330 Fix the FiveM command
  src/commands/games/fivem.js
  src/utils/Constants.js
Labels: type: fix

#1336 Make the ship command accept bots, bc why not?
  src/commands/social/ship.js
Labels: type: enhancement, scope: code-quality, status: approved, hacktoberfest-accepted

#1325 Updated minecraft command
  src/apis/Minecraft.js
  src/commands/games/minecraft/namehistory.js
  src/commands/games/minecraft/server.js
  src/commands/games/minecraft/skin.js
  src/locales/en-US/commands.json
Labels: type: fix, scope: commands, scope: game-integrations, status: waiting-for-review
